<ion-view title="Thankyou" id="page12"  class="background"  >
<ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="row logo_sec">
            <div class="col">
                <div class="logo">
                    <img src="img/logo-sm.png" alt="LOGO"/>
                </div>
            </div>
        </div>
        <div class="row smile_icon">
        <div class="col">
        	<img src="img/smile-icon.png"/>
        </div>
        </div>
        <div class="row title_sec thank_you">
        	<div class="col">
                <h3 id="screen111-heading11"  class="question welcome_title">
                {{questions.question}}
                </h3>
          	</div>
        </div>
        <!--<h3 id="screen11-heading11" class="question">{{questions.question}}</h3>-->
        <div class="spacer100" ></div>
    </ion-content>
</ion-view>
